# ICSS data processing for cohort01

**METADATA:**

|Sex    | ICSS+ShA | ICSS+LgA   |
|:-----:|:--------:|:----------:|
|Males  | NULL     | SG5, SG7   |
|-------|----------|------------|
|Females| NULL     | SG4, SG6   |
|-------|----------|------------|

**OUTLINE:**

1. Preprocessing data
    1. Running `preprocessICSSFiles -f $filename` script 
    2. Collating all the \.csv files that the script generates into one data table
    3. Assign datatype to columns
    4. Get an overview of the Dates and the Subjects
    5. Filter out unrequired subjects
2. Annotating data
3. Normalizing data
    1. Consistency between pre- and post-surgery days
    2. Calculate baseline
    3. Normalize to baseline
        1. Theta0
        2. M50
        3. MaxRate
4. Saving data 
    1. Long form for R
        1. Collated raw data for for all passes
            1. Theta0
            2. M50
            3. MaxRate
        2. Collated means for for Pass 2-4
            1. Theta0
            2. M50
            3. MaxRate
        3. Normalized means for Pass 2-4
            1. Theta0
            2. M50
            3. MaxRate
    2. Wide form for prism
---

In [1]:
%load_ext rpy2.ipython

In [2]:
%%capture
%%R
# loading required libraries for R
library(tidyverse)
library(lubridate)

---

## 1. Preprocessing data

In [3]:
%%capture
%%bash
## # 1.1. Preprocessing ANA files that are generated by Steve Cabilio's program
## # this line makes the script machine agnostic by assigning the username automatically
## userName=$(echo $USER)
## 
## # We move to the folder where the cohort data is stored
## # cd </path/to/cohort/data>
## cd /Users/$userName/Dropbox\ \(Partners\ HealthCare\)/Projects/R01_2017_OxycSA-NASh-Glutamate/_data_R01_2017/_data_R01_2017_ICSS/_ana_files/Cohort00
## 
## # entering each subject/animal directory to list all the CSV files and to run the program on each
## for dirName in $(ls -d */)
## do
##     cd $dirName
##     for fileName in $(ls ANA*.CSV)
##     do
##         preprocessICSSFiles --file $fileName;
##     done
##     cd ..
## done

In [45]:
%%capture
%%R
# 1.2. Collating all the files into one tibble
# loading data: set the path to 
ICSS_dataDir <- "~/Dropbox (Partners HealthCare)/Projects/R01_2017_OxycSA-NASh-Glutamate/_data_R01_2017/_data_R01_2017_ICSS/_ana_files/Cohort00/"
ICSS_fileList <- list.files(path = ICSS_dataDir, pattern = "preprocessed.csv", recursive = T)
## generating combined data table
ICSS_data <- ICSS_fileList %>% map(~ read_csv(file.path(ICSS_dataDir, .))) %>% reduce(rbind)

In [46]:
%%R
ICSS_data %>% print

# A tibble: 2,196 x 7
   Date       Subject Experiment  Pass T0    M50   MaxRate
   <date>     <chr>   <chr>      <dbl> <chr> <chr>   <dbl>
 1 2018-09-20 NC1     RF             1 14.52 41.93     105
 2 2018-09-20 NC1     RF             2 31.01 73.05     109
 3 2018-09-20 NC1     RF             3 51.9  83.04      94
 4 2018-09-20 NC1     RF             4 58.96 85.4       98
 5 2018-09-21 NC1     RF             1 35.1  72.22      91
 6 2018-09-21 NC1     RF             2 62.93 84.09      85
 7 2018-09-21 NC1     RF             3 77.5  88.03      93
 8 2018-09-21 NC1     RF             4 79    94.28      96
 9 2018-09-24 NC1     RF             1 25.02 66.79      92
10 2018-09-24 NC1     RF             2 64.14 83.54     122
# ... with 2,186 more rows

In [47]:
%%R
# 1.3. Assign data type to columns. 
# This gets broken when there are missing values
# Ideal data types
# Date   | Subject  | Experiment |   Pass   |  T0   |  M50  | MaxRate
# <date> | <factor> |  <factor>  | <factor> | <num> | <num> |  <num>

ICSS_data$Subject <- ICSS_data$Subject %>% as.factor
ICSS_data$Pass <- ICSS_data$Pass %>% as.factor
ICSS_data$T0 <- ICSS_data$T0 %>% as.numeric
ICSS_data$M50 <- ICSS_data$M50 %>% as.numeric
ICSS_data %>% print

# A tibble: 2,196 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <chr>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-20 NC1     RF         1      14.5  41.9     105
 2 2018-09-20 NC1     RF         2      31.0  73.0     109
 3 2018-09-20 NC1     RF         3      51.9  83.0      94
 4 2018-09-20 NC1     RF         4      59.0  85.4      98
 5 2018-09-21 NC1     RF         1      35.1  72.2      91
 6 2018-09-21 NC1     RF         2      62.9  84.1      85
 7 2018-09-21 NC1     RF         3      77.5  88.0      93
 8 2018-09-21 NC1     RF         4      79    94.3      96
 9 2018-09-24 NC1     RF         1      25.0  66.8      92
10 2018-09-24 NC1     RF         2      64.1  83.5     122
# ... with 2,186 more rows

In [48]:
%%R
# 1.4. Overview
# Dates over which the experiment has run
ICSS_data$Date %>% str()
ICSS_data$Date %>% unique()

 Date[1:2196], format: "2018-09-20" "2018-09-20" "2018-09-20" "2018-09-20" "2018-09-21" ...
 [1] "2018-09-20" "2018-09-21" "2018-09-24" "2018-09-25" "2018-09-26"
 [6] "2018-09-27" "2018-09-28" "2018-10-01" "2018-10-02" "2018-10-03"
[11] "2018-10-04" "2018-10-05" "2018-10-09" "2018-10-10" "2018-10-11"
[16] "2018-10-12" "2018-10-15" "2018-10-16" "2018-10-17" "2018-10-18"
[21] "2018-10-19" "2018-10-29" "2018-10-30" "2018-10-31" "2018-11-01"
[26] "2018-11-02" "2018-11-05" "2018-11-06" "2018-11-07" "2018-11-08"
[31] "2018-11-09" "2018-11-12" "2018-11-13" "2018-11-14" "2018-11-15"
[36] "2018-11-16" "2018-11-19" "2018-11-20" "2018-11-21" "2018-11-22"
[41] "2018-11-26" "2018-11-27" "2018-11-28" "2018-11-29" "2018-11-30"
[46] "2018-12-03" "2018-12-04" "2018-12-05" "2018-12-06" "2018-12-07"
[51] "2018-12-10" "2018-12-11" "2018-12-12" "2018-12-13" "2018-09-04"
[56] "2018-09-05" "2018-09-06" "2018-09-07" "2018-09-10" "2018-09-11"
[61] "2018-09-12" "2018-09-13" "2018-09-17" "2018-10-08" "2018-10-22"
[66] "2018-10-23" "2018-10-24" "2018-10-25" "2018-10-26"

In [49]:
%%R
# 1.4. Overview
# Subjects in the experiment over which the experiment has run
ICSS_data$Subject %>% str()
ICSS_data$Subject %>% unique()

 Factor w/ 11 levels "NC1","NC3","NC4",..: 1 1 1 1 1 1 1 1 1 1 ...
 [1] NC1 NC3 NC4 NC6 NC7 NC8 SG4 SG5 SG6 SG7 SG8
Levels: NC1 NC3 NC4 NC6 NC7 NC8 SG4 SG5 SG6 SG7 SG8

In [50]:
%%R
# 1.5. Filter out un-required data
# This folder was made before any organization was put in place. So multiple cohorts got lumped together into the same one as 'Cohort00'
# Keeping only the 4 animals that were in the original 'Cohort01'
ICSS_data <- ICSS_data %>% filter(Subject == "SG4" | Subject == "SG5" | Subject == "SG6" | Subject == "SG7")
# Removing 2019-09-17, which seems to be a single day where we randomly ran ICSS before surgery
ICSS_data <- ICSS_data %>% filter(Date != "2018-09-17")

In [51]:
%%R
# Overview of dates
ICSS_data$Date %>% unique

 [1] "2018-09-04" "2018-09-05" "2018-09-06" "2018-09-07" "2018-09-10"
 [6] "2018-09-11" "2018-09-12" "2018-09-13" "2018-09-24" "2018-09-25"
[11] "2018-09-26" "2018-09-27" "2018-09-28" "2018-10-01" "2018-10-02"
[16] "2018-10-03" "2018-10-04" "2018-10-05" "2018-10-08" "2018-10-09"
[21] "2018-10-10" "2018-10-11" "2018-10-12" "2018-10-15" "2018-10-16"
[26] "2018-10-17" "2018-10-18" "2018-10-19" "2018-10-22" "2018-10-23"
[31] "2018-10-24" "2018-10-25" "2018-10-26" "2018-10-29" "2018-10-30"
[36] "2018-10-31" "2018-11-01" "2018-11-02" "2018-11-05" "2018-11-06"
[41] "2018-11-07" "2018-11-08" "2018-11-09" "2018-11-12"

---

## 2. Annotating Data

In [52]:
%%R
# 3. Annotating Data
ICSS_data$Experiment[ICSS_data$Subject == "SG5"] <- "LgA-Male" 
ICSS_data$Experiment[ICSS_data$Subject == "SG7"] <- "LgA-Male"
ICSS_data$Experiment[ICSS_data$Subject == "SG4"] <- "LgA-Female"
ICSS_data$Experiment[ICSS_data$Subject == "SG6"] <- "LgA-Female"
ICSS_data$Experiment <- ICSS_data$Experiment %>% as.factor

In [53]:
%%R
ICSS_data %>% print

# A tibble: 704 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-04 SG4     LgA-Female 1      26.2  57.6      51
 2 2018-09-04 SG4     LgA-Female 2      25.3  42.8      36
 3 2018-09-04 SG4     LgA-Female 3      50    56.1      19
 4 2018-09-04 SG4     LgA-Female 4      41.4  79.0      28
 5 2018-09-05 SG4     LgA-Female 1      27.8  75.4      33
 6 2018-09-05 SG4     LgA-Female 2      34.6  53.7      29
 7 2018-09-05 SG4     LgA-Female 3      54.9  68.0      18
 8 2018-09-05 SG4     LgA-Female 4      36.4  78.4      28
 9 2018-09-06 SG4     LgA-Female 1      20.7  61.7      51
10 2018-09-06 SG4     LgA-Female 2      50    60.3      26
# ... with 694 more rows

---

## 2. Normalizing ICSS Data
Normalizing data to 3 days pre- and post-surgery
Normalizing dates 
Pre-surgery: 2018-09-11, 2018-09-12, 2018-09-13
Post-surgery: 2018-09-24, 2018-09-25, 2018-09-26

In [54]:
%%R
# 2. Normalizing data
# Normalizing Pass: Pass > 1 & Pass <= 4
ICSS_dataSG4 <- ICSS_data %>% filter(Subject == "SG4" & Pass != "1") %>% na.omit()
ICSS_dataSG5 <- ICSS_data %>% filter(Subject == "SG5" & Pass != "1") %>% na.omit()
ICSS_dataSG6 <- ICSS_data %>% filter(Subject == "SG6" & Pass != "1") %>% na.omit()
ICSS_dataSG7 <- ICSS_data %>% filter(Subject == "SG7" & Pass != "1") %>% na.omit()

In [55]:
%%R
# Subsetting individual subject data and excluding Pass 1 
ICSS_meansSG4 <- ICSS_data %>% filter(Subject == "SG4" & Pass != "1") %>% na.omit()
ICSS_meansSG5 <- ICSS_data %>% filter(Subject == "SG5" & Pass != "1") %>% na.omit()
ICSS_meansSG6 <- ICSS_data %>% filter(Subject == "SG6" & Pass != "1") %>% na.omit()
ICSS_meansSG7 <- ICSS_data %>% filter(Subject == "SG7" & Pass != "1") %>% na.omit()

In [56]:
%%R
# Removing 'Pass' variable and calculating mean
ICSS_meanSG4 <- ICSS_data %>% filter(Subject == "SG4" & Pass != "1" & Date >= "2018-09-11" & Date <= "2018-09-26") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanSG5 <- ICSS_data %>% filter(Subject == "SG5" & Pass != "1" & Date >= "2018-09-11" & Date <= "2018-09-26") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanSG6 <- ICSS_data %>% filter(Subject == "SG6" & Pass != "1" & Date >= "2018-09-11" & Date <= "2018-09-26") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanSG7 <- ICSS_data %>% filter(Subject == "SG7" & Pass != "1" & Date >= "2018-09-11" & Date <= "2018-09-26") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)

In [57]:
%%R
# normalizing T0 data to means
ICSS_meansSG4 <- ICSS_meansSG4 %>% mutate(norm.T0 = (T0 / ICSS_meanSG4$T0 * 100))
ICSS_meansSG5 <- ICSS_meansSG5 %>% mutate(norm.T0 = (T0 / ICSS_meanSG5$T0 * 100))
ICSS_meansSG6 <- ICSS_meansSG6 %>% mutate(norm.T0 = (T0 / ICSS_meanSG6$T0 * 100))
ICSS_meansSG7 <- ICSS_meansSG7 %>% mutate(norm.T0 = (T0 / ICSS_meanSG7$T0 * 100))

In [58]:
%%R
# normalizing M50 data to means
ICSS_meansSG4 <- ICSS_meansSG4 %>% mutate(norm.M50 = (M50 / ICSS_meanSG4$M50 * 100))
ICSS_meansSG5 <- ICSS_meansSG5 %>% mutate(norm.M50 = (M50 / ICSS_meanSG5$M50 * 100))
ICSS_meansSG6 <- ICSS_meansSG6 %>% mutate(norm.M50 = (M50 / ICSS_meanSG6$M50 * 100))
ICSS_meansSG7 <- ICSS_meansSG7 %>% mutate(norm.M50 = (M50 / ICSS_meanSG7$M50 * 100))

In [59]:
%%R 
# normalizing MaxRate data to means
ICSS_meansSG4 <- ICSS_meansSG4 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG4$MaxRate * 100))
ICSS_meansSG5 <- ICSS_meansSG5 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG5$MaxRate * 100))
ICSS_meansSG6 <- ICSS_meansSG6 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG6$MaxRate * 100))
ICSS_meansSG7 <- ICSS_meansSG7 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG7$MaxRate * 100))

In [60]:
%%R
ICSS_normSG4 <- ICSS_meansSG4 %>% select(-T0, -M50, -MaxRate)
ICSS_normSG5 <- ICSS_meansSG5 %>% select(-T0, -M50, -MaxRate)
ICSS_normSG6 <- ICSS_meansSG6 %>% select(-T0, -M50, -MaxRate)
ICSS_normSG7 <- ICSS_meansSG7 %>% select(-T0, -M50, -MaxRate)

In [61]:
%%R
# printing out raw values
ICSS_dataSG4 %>% print()
ICSS_dataSG5 %>% print()
ICSS_dataSG6 %>% print()
ICSS_dataSG7 %>% print()

# A tibble: 122 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-04 SG4     LgA-Female 2      25.3  42.8      36
 2 2018-09-04 SG4     LgA-Female 3      50    56.1      19
 3 2018-09-04 SG4     LgA-Female 4      41.4  79.0      28
 4 2018-09-05 SG4     LgA-Female 2      34.6  53.7      29
 5 2018-09-05 SG4     LgA-Female 3      54.9  68.0      18
 6 2018-09-05 SG4     LgA-Female 4      36.4  78.4      28
 7 2018-09-06 SG4     LgA-Female 2      50    60.3      26
 8 2018-09-06 SG4     LgA-Female 3      50    56.6      28
 9 2018-09-06 SG4     LgA-Female 4      62.0  76.1      27
10 2018-09-07 SG4     LgA-Female 2      48.5  55.7      18
# ... with 112 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-04 SG5     LgA-Male   2      60.2  75.3     179
 2 2018-09-04 SG5     LgA-Male   3      54.0  80.4     106
 3 2018-09-04 SG5     LgA-Male   4      62.1  79.4     116
 4 2018-09-05 SG5     LgA-Male   2      56.9  73.5     120
 5 2018-09-05 SG5     LgA-Male   3      62.1  79.9      98
 6 2018-09-05 SG5     LgA-Male   4      43.1  62.9      98
 7 2018-09-06 SG5     LgA-Male   2      52.1  79.3     120
 8 2018-09-06 SG5     LgA-Male   3      53.4  67.6      87
 9 2018-09-06 SG5     LgA-Male   4      42.3  68.6      93
10 2018-09-07 SG5     LgA-Male   2      48.0  63.2     143
# ... with 122 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-04 SG6     LgA-Female 2      31.0  58.7     155
 2 2018-09-04 SG6     LgA-Female 3      32.3  49.5     127
 3 2018-09-04 SG6     LgA-Female 4      40    45.5     115
 4 2018-09-05 SG6     LgA-Female 2      45.0  54.4     141
 5 2018-09-05 SG6     LgA-Female 3      41.8  68.5     149
 6 2018-09-05 SG6     LgA-Female 4      39.6  58.8     127
 7 2018-09-06 SG6     LgA-Female 2      25.7  57.0     133
 8 2018-09-06 SG6     LgA-Female 3      40.1  71.0     156
 9 2018-09-06 SG6     LgA-Female 4      50    56.1     110
10 2018-09-07 SG6     LgA-Female 2      32.1  58.1     154
# ... with 122 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-04 SG7     LgA-Male   2      50    59.3     161
 2 2018-09-04 SG7     LgA-Male   3      54.7  67.5     180
 3 2018-09-04 SG7     LgA-Male   4      63    70.9     133
 4 2018-09-05 SG7     LgA-Male   2      51.2  65.2     167
 5 2018-09-05 SG7     LgA-Male   3      60.8  69.3     132
 6 2018-09-05 SG7     LgA-Male   4      52.5  66.4     146
 7 2018-09-06 SG7     LgA-Male   2      54.7  67.7     183
 8 2018-09-06 SG7     LgA-Male   3      58.1  71.4     157
 9 2018-09-06 SG7     LgA-Male   4      50.3  63.7     153
10 2018-09-07 SG7     LgA-Male   2      60.6  69.8     165
# ... with 122 more rows

In [62]:
%%R
# printing out mean values
ICSS_meanSG4 %>% print()
ICSS_meanSG5 %>% print()
ICSS_meanSG6 %>% print()
ICSS_meanSG7 %>% print()

# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG4      54.7  81.9    23.4
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG5      62.3  83.4    118.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG6      43.3  57.7    127.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG7      64.5  76.6    162.

In [63]:
%%R 
# printing out means data
ICSS_meansSG4 <- ICSS_meansSG4 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansSG5 <- ICSS_meansSG5 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansSG6 <- ICSS_meansSG6 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansSG7 <- ICSS_meansSG7 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()

# A tibble: 122 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG4     LgA-Female 2        25.3     42.8           36
 2 2018-09-04 SG4     LgA-Female 3        50       56.1           19
 3 2018-09-04 SG4     LgA-Female 4        41.4     79.0           28
 4 2018-09-05 SG4     LgA-Female 2        34.6     53.7           29
 5 2018-09-05 SG4     LgA-Female 3        54.9     68.0           18
 6 2018-09-05 SG4     LgA-Female 4        36.4     78.4           28
 7 2018-09-06 SG4     LgA-Female 2        50       60.3           26
 8 2018-09-06 SG4     LgA-Female 3        50       56.6           28
 9 2018-09-06 SG4     LgA-Female 4        62.0     76.1           27
10 2018-09-07 SG4     LgA-Female 2        48.5     55.7           18
# ... with 112 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG5     LgA-Male   2        60.2     75.3          179
 2 2018-09-04 SG5     LgA-Male   3        54.0     80.4          106
 3 2018-09-04 SG5     LgA-Male   4        62.1     79.4          116
 4 2018-09-05 SG5     LgA-Male   2        56.9     73.5          120
 5 2018-09-05 SG5     LgA-Male   3        62.1     79.9           98
 6 2018-09-05 SG5     LgA-Male   4        43.1     62.9           98
 7 2018-09-06 SG5     LgA-Male   2        52.1     79.3          120
 8 2018-09-06 SG5     LgA-Male   3        53.4     67.6           87
 9 2018-09-06 SG5     LgA-Male   4        42.3     68.6           93
10 2018-09-07 SG5     LgA-Male   2        48.0     63.2          143
# ... with 122 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG6     LgA-Female 2        31.0     58.7          155
 2 2018-09-04 SG6     LgA-Female 3        32.3     49.5          127
 3 2018-09-04 SG6     LgA-Female 4        40       45.5          115
 4 2018-09-05 SG6     LgA-Female 2        45.0     54.4          141
 5 2018-09-05 SG6     LgA-Female 3        41.8     68.5          149
 6 2018-09-05 SG6     LgA-Female 4        39.6     58.8          127
 7 2018-09-06 SG6     LgA-Female 2        25.7     57.0          133
 8 2018-09-06 SG6     LgA-Female 3        40.1     71.0          156
 9 2018-09-06 SG6     LgA-Female 4        50       56.1          110
10 2018-09-07 SG6     LgA-Female 2        32.1     58.1          154
# ... with 122 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG7     LgA-Male   2        50       59.3          161
 2 2018-09-04 SG7     LgA-Male   3        54.7     67.5          180
 3 2018-09-04 SG7     LgA-Male   4        63       70.9          133
 4 2018-09-05 SG7     LgA-Male   2        51.2     65.2          167
 5 2018-09-05 SG7     LgA-Male   3        60.8     69.3          132
 6 2018-09-05 SG7     LgA-Male   4        52.5     66.4          146
 7 2018-09-06 SG7     LgA-Male   2        54.7     67.7          183
 8 2018-09-06 SG7     LgA-Male   3        58.1     71.4          157
 9 2018-09-06 SG7     LgA-Male   4        50.3     63.7          153
10 2018-09-07 SG7     LgA-Male   2        60.6     69.8          165
# ... with 122 more rows

In [64]:
%%R
# printing out normalized data
ICSS_normSG4 <- ICSS_normSG4 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normSG5 <- ICSS_normSG5 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normSG6 <- ICSS_normSG6 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normSG7 <- ICSS_normSG7 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print()

# A tibble: 122 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG4     LgA-Female 2        46.2     52.2        154.
 2 2018-09-04 SG4     LgA-Female 3        91.4     68.5         81.4
 3 2018-09-04 SG4     LgA-Female 4        75.6     96.5        120.
 4 2018-09-05 SG4     LgA-Female 2        63.3     65.6        124.
 5 2018-09-05 SG4     LgA-Female 3       100.      83.0         77.1
 6 2018-09-05 SG4     LgA-Female 4        66.5     95.7        120.
 7 2018-09-06 SG4     LgA-Female 2        91.4     73.6        111.
 8 2018-09-06 SG4     LgA-Female 3        91.4     69.1        120.
 9 2018-09-06 SG4     LgA-Female 4       113.      92.9        116.
10 2018-09-07 SG4     LgA-Female 2        88.6     68.0         77.1
# ... with 112 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG5     LgA-Male   2        96.7     90.3        151.
 2 2018-09-04 SG5     LgA-Male   3        86.6     96.4         89.6
 3 2018-09-04 SG5     LgA-Male   4        99.7     95.3         98.0
 4 2018-09-05 SG5     LgA-Male   2        91.3     88.1        101.
 5 2018-09-05 SG5     LgA-Male   3        99.7     95.8         82.8
 6 2018-09-05 SG5     LgA-Male   4        69.2     75.4         82.8
 7 2018-09-06 SG5     LgA-Male   2        83.6     95.2        101.
 8 2018-09-06 SG5     LgA-Male   3        85.8     81.1         73.5
 9 2018-09-06 SG5     LgA-Male   4        68.0     82.3         78.6
10 2018-09-07 SG5     LgA-Male   2        77.0     75.8        121.
# ... with 122 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG6     LgA-Female 2        71.5    102.         122.
 2 2018-09-04 SG6     LgA-Female 3        74.6     85.7        100.
 3 2018-09-04 SG6     LgA-Female 4        92.3     78.9         90.8
 4 2018-09-05 SG6     LgA-Female 2       104.      94.3        111.
 5 2018-09-05 SG6     LgA-Female 3        96.5    119.         118.
 6 2018-09-05 SG6     LgA-Female 4        91.5    102.         100.
 7 2018-09-06 SG6     LgA-Female 2        59.4     98.7        105.
 8 2018-09-06 SG6     LgA-Female 3        92.4    123.         123.
 9 2018-09-06 SG6     LgA-Female 4       115.      97.2         86.9
10 2018-09-07 SG6     LgA-Female 2        74.1    101.         122.
# ... with 122 more rows
# A tibble: 132 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG7     LgA-Male   2        77.5     77.4         99.7
 2 2018-09-04 SG7     LgA-Male   3        84.7     88.1        111.
 3 2018-09-04 SG7     LgA-Male   4        97.7     92.6         82.3
 4 2018-09-05 SG7     LgA-Male   2        79.3     85.1        103.
 5 2018-09-05 SG7     LgA-Male   3        94.2     90.5         81.7
 6 2018-09-05 SG7     LgA-Male   4        81.4     86.6         90.4
 7 2018-09-06 SG7     LgA-Male   2        84.8     88.4        113.
 8 2018-09-06 SG7     LgA-Male   3        90.0     93.2         97.2
 9 2018-09-06 SG7     LgA-Male   4        77.9     83.1         94.7
10 2018-09-07 SG7     LgA-Male   2        93.9     91.1        102.
# ... with 122 more rows

In [65]:
%%R
# combine all the Subject data into one single data frame and plot
ICSS_meansData <- bind_rows(ICSS_meansSG4, ICSS_meansSG5, ICSS_meansSG6, ICSS_meansSG7) %>% arrange(Date) %>% print

# A tibble: 518 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG4     LgA-Female 2        25.3     42.8           36
 2 2018-09-04 SG4     LgA-Female 3        50       56.1           19
 3 2018-09-04 SG4     LgA-Female 4        41.4     79.0           28
 4 2018-09-04 SG5     LgA-Male   2        60.2     75.3          179
 5 2018-09-04 SG5     LgA-Male   3        54.0     80.4          106
 6 2018-09-04 SG5     LgA-Male   4        62.1     79.4          116
 7 2018-09-04 SG6     LgA-Female 2        31.0     58.7          155
 8 2018-09-04 SG6     LgA-Female 3        32.3     49.5          127
 9 2018-09-04 SG6     LgA-Female 4        40       45.5          115
10 2018-09-04 SG7     LgA-Male   2        50       59.3          161
# ... with 508 more rows

In [66]:
%%R
# combine all the Subject data into one single data frame and plot
ICSS_normData <- bind_rows(ICSS_normSG4, ICSS_normSG5, ICSS_normSG6, ICSS_normSG7) %>% arrange(Date) %>% print

# A tibble: 518 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-04 SG4     LgA-Female 2        46.2     52.2        154.
 2 2018-09-04 SG4     LgA-Female 3        91.4     68.5         81.4
 3 2018-09-04 SG4     LgA-Female 4        75.6     96.5        120.
 4 2018-09-04 SG5     LgA-Male   2        96.7     90.3        151.
 5 2018-09-04 SG5     LgA-Male   3        86.6     96.4         89.6
 6 2018-09-04 SG5     LgA-Male   4        99.7     95.3         98.0
 7 2018-09-04 SG6     LgA-Female 2        71.5    102.         122.
 8 2018-09-04 SG6     LgA-Female 3        74.6     85.7        100.
 9 2018-09-04 SG6     LgA-Female 4        92.3     78.9         90.8
10 2018-09-04 SG7     LgA-Male   2        77.5     77.4         99.7
# ... with 508 more rows

---

## 3. Saving data

In [67]:
%%R
# 3.1. Long form for R
# 3.1.1. Collated raw data for for all passes
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_data, file.path(ICSS_dataDir, "_icssData_am_cohort01_raw_longform.csv"))

In [68]:
%%R
# 3.1. Long form for R
# 3.1.2. Collated means for for Pass 2-4
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_meansData, file.path(ICSS_dataDir, "_icssData_am_cohort01_means_longform.csv"))

In [69]:
%%R
# 3.1. Long form for R
# 3.1.3. Normalized means for Pass 2-4
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_normData, file.path(ICSS_dataDir, "_icssData_am_cohort01_normalized_longform.csv"))

---

Author: Suman K. Guha <br/>
Date: April 16, 2019