# ICSS data processing for cohort01 (PM-ICSS group)

**METADATA:**

|Sex    | ICSS+ShA | ICSS+LgA   |
|:-----:|:--------:|:----------:|
|Males  | SG17     | SG15       |
|-------|----------|------------|
|Females| SG14     | SG24, SG20 |
|-------|----------|------------|

**OUTLINE:**

1. Preprocessing data
    1. Running `preprocessICSSFiles -f $filename` script 
    2. Collating all the \.csv files that the script generates into one data table
    3. Assign datatype to columns
    4. Get an overview of the Dates and the Subjects
    5. Filter out unrequired subjects
2. Annotating data
3. Normalizing data
    1. Consistency between pre- and post-surgery days
    2. Calculate baseline
    3. Normalize to baseline
        1. Theta0
        2. M50
        3. MaxRate
4. Saving data 
    1. Long form for R
        1. Collated raw data for for all passes
            1. Theta0
            2. M50
            3. MaxRate
        2. Collated means for for Pass 2-4
            1. Theta0
            2. M50
            3. MaxRate
        3. Normalized means for Pass 2-4
            1. Theta0
            2. M50
            3. MaxRate
    2. Wide form for prism
---

In [3]:
%load_ext rpy2.ipython

In [4]:
%%capture
%%R
# loading required libraries for R
library(tidyverse)
library(lubridate)

---

## 1. Preprocessing data

In [5]:
%%capture
%%bash
# # 1.1. Preprocessing ANA files that are generated by Steve Cabilio's program
# # this line makes the script machine agnostic by assigning the username automatically
# userName=$(echo $USER)
# 
# # We move to the folder where the cohort data is stored
# # cd </path/to/cohort/data>
# cd /Users/$userName/Dropbox\ \(Partners\ HealthCare\)/Projects/R01_2017_OxycSA-NASh-Glutamate/_data_R01_2017/_data_R01_2017_ICSS/_ana_files/Cohort01
# 
# # entering each subject/animal directory to list all the CSV files and to run the program on each
# for dirName in $(ls -d */)
# do
#     cd $dirName
#     for fileName in $(ls ANA*.CSV)
#     do
#         preprocessICSSFiles --file $fileName;
#     done
#     cd ..
# done

In [6]:
%%capture
%%R
# 1.2. Collating all the files into one tibble
# loading data: set the path to 
ICSS_dataDir <- "~/Dropbox (Partners HealthCare)/Projects/R01_2017_OxycSA-NASh-Glutamate/_data_R01_2017/_data_R01_2017_ICSS/_ana_files/Cohort01/"
ICSS_fileList <- list.files(path = ICSS_dataDir, pattern = "preprocessed.csv", recursive = T)
## generating combined data table
ICSS_data <- ICSS_fileList %>% map(~ read_csv(file.path(ICSS_dataDir, .))) %>% reduce(rbind)

In [7]:
%%R
ICSS_data %>% print

# A tibble: 1,144 x 7
   Date       Subject Experiment  Pass T0    M50   MaxRate
   <date>     <chr>   <chr>      <dbl> <chr> <chr>   <dbl>
 1 2019-01-17 SG13    RF             1 37.61 72.22     275
 2 2019-01-17 SG13    RF             2 50.42 78.28     177
 3 2019-01-17 SG13    RF             3 49.5  58.25     241
 4 2019-01-17 SG13    RF             4 63    74.78     212
 5 2019-01-18 SG13    RF             1 33.77 55.55     201
 6 2019-01-18 SG13    RF             2 59.77 69.08     165
 7 2019-01-18 SG13    RF             3 62.66 77.56     168
 8 2019-01-18 SG13    RF             4 57.85 81.47     158
 9 2019-01-22 SG13    RF             1 38.03 46.48     282
10 2019-01-22 SG13    RF             2 33.38 52.09     340
# ... with 1,134 more rows

In [8]:
%%R
# 1.3. Assign data type to columns. 
# This gets broken when there are missing values
# Ideal data types
# Date   | Subject  | Experiment |   Pass   |  T0   |  M50  | MaxRate
# <date> | <factor> |  <factor>  | <factor> | <num> | <num> |  <num>

ICSS_data$Subject <- ICSS_data$Subject %>% as.factor
ICSS_data$Pass <- ICSS_data$Pass %>% as.factor
ICSS_data$T0 <- ICSS_data$T0 %>% as.numeric
ICSS_data$M50 <- ICSS_data$M50 %>% as.numeric
ICSS_data %>% print

# A tibble: 1,144 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <chr>      <fct> <dbl> <dbl>   <dbl>
 1 2019-01-17 SG13    RF         1      37.6  72.2     275
 2 2019-01-17 SG13    RF         2      50.4  78.3     177
 3 2019-01-17 SG13    RF         3      49.5  58.2     241
 4 2019-01-17 SG13    RF         4      63    74.8     212
 5 2019-01-18 SG13    RF         1      33.8  55.6     201
 6 2019-01-18 SG13    RF         2      59.8  69.1     165
 7 2019-01-18 SG13    RF         3      62.7  77.6     168
 8 2019-01-18 SG13    RF         4      57.8  81.5     158
 9 2019-01-22 SG13    RF         1      38.0  46.5     282
10 2019-01-22 SG13    RF         2      33.4  52.1     340
# ... with 1,134 more rows

In [9]:
%%R
# 1.4. Overview
# Dates over which the experiment has run
ICSS_data$Date %>% str()
ICSS_data$Date %>% unique()

 Date[1:1144], format: "2019-01-17" "2019-01-17" "2019-01-17" "2019-01-17" "2019-01-18" ...
 [1] "2019-01-17" "2019-01-18" "2019-01-22" "2019-01-23" "2019-01-24"
 [6] "2019-01-25" "2019-01-28" "2019-01-29" "2019-01-30" "2019-02-01"
[11] "2019-02-04" "2019-02-06" "2019-02-07" "2019-02-08" "2019-02-18"
[16] "2019-02-19" "2019-02-20" "2019-02-21" "2019-02-22" "2019-02-25"
[21] "2019-02-26" "2019-02-27" "2019-02-28" "2019-03-01" "2019-03-04"
[26] "2019-03-05" "2019-03-06" "2019-03-07" "2019-03-08" "2019-03-11"
[31] "2019-03-12" "2019-03-13" "2019-03-14" "2019-03-15" "2019-03-18"
[36] "2019-03-19" "2019-03-20" "2019-03-21" "2019-03-22" "2019-03-25"
[41] "2019-03-26" "2019-03-27" "2019-03-28" "2019-03-29" "2019-04-01"
[46] "2019-04-02" "2019-04-03" "2019-04-04" "2019-01-31"

In [10]:
%%R
# 1.4. Overview
# Subjects in the experiment over which the experiment has run
ICSS_data$Subject %>% str()
ICSS_data$Subject %>% unique()

 Factor w/ 7 levels "SG13","SG14",..: 1 1 1 1 1 1 1 1 1 1 ...
[1] SG13 SG14 SG15 SG17 SG19 SG20 SG24
Levels: SG13 SG14 SG15 SG17 SG19 SG20 SG24

In [11]:
%%R
# 1.5. Filter out un-required data
# SG19 is being discarded from the data as the rat did not move to the self-administration stage
# SG13 presumably had some infections
ICSS_data <- ICSS_data %>% filter(Subject != "SG19" & Subject != "SG13")

---

## 2. Annotating Data

In [12]:
%%R
# 3. Annotating Data
ICSS_data$Experiment[ICSS_data$Subject == "SG17"] <- "ShA-Male" 
ICSS_data$Experiment[ICSS_data$Subject == "SG15"] <- "LgA-Male"
ICSS_data$Experiment[ICSS_data$Subject == "SG14"] <- "ShA-Female"
ICSS_data$Experiment[ICSS_data$Subject == "SG24"] <- "LgA-Female"
ICSS_data$Experiment[ICSS_data$Subject == "SG20"] <- "LgA-Female"
ICSS_data$Experiment <- ICSS_data$Experiment %>% as.factor

In [13]:
%%R
ICSS_data %>% print

# A tibble: 908 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2019-01-28 SG14    ShA-Female 1      25.3  52.8     190
 2 2019-01-28 SG14    ShA-Female 2      28.7  64.5     180
 3 2019-01-28 SG14    ShA-Female 3      47.8  59.2     181
 4 2019-01-28 SG14    ShA-Female 4      40.2  73.6     171
 5 2019-01-29 SG14    ShA-Female 1      37.1  59.3     176
 6 2019-01-29 SG14    ShA-Female 2      48.6  68.3     189
 7 2019-01-29 SG14    ShA-Female 3      47.0  56.3     162
 8 2019-01-29 SG14    ShA-Female 4      46.5  62.0     157
 9 2019-01-30 SG14    ShA-Female 1      36.8  51.9     169
10 2019-01-30 SG14    ShA-Female 2      49.5  67.8     182
# ... with 898 more rows

---

## 2. Normalizing ICSS Data

In [14]:
%%R
# 2. Normalizing data
# Normalizing data to 2 days pre- and post-surgery
# Normalizing dates 
# Pre-surgery: 2019-02-06, 2019-02-07, 2019-02-08
# Post-surgery: 2019-02-18, 2019-02-19
# Normalizing Pass: Pass > 1 & Pass <= 4
ICSS_dataSG14 <- ICSS_data %>% filter(Subject == "SG14" & Pass != "1") %>% na.omit()
ICSS_dataSG15 <- ICSS_data %>% filter(Subject == "SG15" & Pass != "1") %>% na.omit()
ICSS_dataSG17 <- ICSS_data %>% filter(Subject == "SG17" & Pass != "1") %>% na.omit()
ICSS_dataSG20 <- ICSS_data %>% filter(Subject == "SG20" & Pass != "1") %>% na.omit()
ICSS_dataSG24 <- ICSS_data %>% filter(Subject == "SG24" & Pass != "1") %>% na.omit()

In [15]:
%%R
# Subsetting individual subject data and excluding Pass 1 
ICSS_meansSG14 <- ICSS_data %>% filter(Subject == "SG14" & Pass != "1") %>% na.omit()
ICSS_meansSG15 <- ICSS_data %>% filter(Subject == "SG15" & Pass != "1") %>% na.omit()
ICSS_meansSG17 <- ICSS_data %>% filter(Subject == "SG17" & Pass != "1") %>% na.omit()
ICSS_meansSG20 <- ICSS_data %>% filter(Subject == "SG20" & Pass != "1") %>% na.omit()
ICSS_meansSG24 <- ICSS_data %>% filter(Subject == "SG24" & Pass != "1") %>% na.omit()

In [16]:
%%R
# Removing 'Pass' variable and calculating mean
ICSS_meanSG14 <- ICSS_data %>% filter(Subject == "SG14" & Pass != "1" & Date >= "2019-02-07" & Date <= "2019-02-19") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanSG15 <- ICSS_data %>% filter(Subject == "SG15" & Pass != "1" & Date >= "2019-02-07" & Date <= "2019-02-19") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanSG17 <- ICSS_data %>% filter(Subject == "SG17" & Pass != "1" & Date >= "2019-02-07" & Date <= "2019-02-19") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanSG20 <- ICSS_data %>% filter(Subject == "SG20" & Pass != "1" & Date >= "2019-02-07" & Date <= "2019-02-19") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanSG24 <- ICSS_data %>% filter(Subject == "SG24" & Pass != "1" & Date >= "2019-02-07" & Date <= "2019-02-19") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)

In [17]:
%%R
# normalizing T0 data to means
ICSS_meansSG14 <- ICSS_meansSG14 %>% mutate(norm.T0 = (T0 / ICSS_meanSG14$T0 * 100))
ICSS_meansSG15 <- ICSS_meansSG15 %>% mutate(norm.T0 = (T0 / ICSS_meanSG15$T0 * 100))
ICSS_meansSG17 <- ICSS_meansSG17 %>% mutate(norm.T0 = (T0 / ICSS_meanSG17$T0 * 100))
ICSS_meansSG20 <- ICSS_meansSG20 %>% mutate(norm.T0 = (T0 / ICSS_meanSG20$T0 * 100))
ICSS_meansSG24 <- ICSS_meansSG24 %>% mutate(norm.T0 = (T0 / ICSS_meanSG24$T0 * 100))

In [18]:
%%R
# normalizing M50 data to means
ICSS_meansSG14 <- ICSS_meansSG14 %>% mutate(norm.M50 = (M50 / ICSS_meanSG14$M50 * 100))
ICSS_meansSG15 <- ICSS_meansSG15 %>% mutate(norm.M50 = (M50 / ICSS_meanSG15$M50 * 100))
ICSS_meansSG17 <- ICSS_meansSG17 %>% mutate(norm.M50 = (M50 / ICSS_meanSG17$M50 * 100))
ICSS_meansSG20 <- ICSS_meansSG20 %>% mutate(norm.M50 = (M50 / ICSS_meanSG20$M50 * 100))
ICSS_meansSG24 <- ICSS_meansSG24 %>% mutate(norm.M50 = (M50 / ICSS_meanSG24$M50 * 100))

In [19]:
%%R 
# normalizing MaxRate data to means
ICSS_meansSG14 <- ICSS_meansSG14 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG14$MaxRate * 100))
ICSS_meansSG15 <- ICSS_meansSG15 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG15$MaxRate * 100))
ICSS_meansSG17 <- ICSS_meansSG17 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG17$MaxRate * 100))
ICSS_meansSG20 <- ICSS_meansSG20 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG20$MaxRate * 100))
ICSS_meansSG24 <- ICSS_meansSG24 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanSG24$MaxRate * 100))

In [20]:
%%R
ICSS_normSG14 <- ICSS_meansSG14 %>% select(-T0, -M50, -MaxRate)
ICSS_normSG15 <- ICSS_meansSG15 %>% select(-T0, -M50, -MaxRate)
ICSS_normSG17 <- ICSS_meansSG17 %>% select(-T0, -M50, -MaxRate)
ICSS_normSG20 <- ICSS_meansSG20 %>% select(-T0, -M50, -MaxRate)
ICSS_normSG24 <- ICSS_meansSG24 %>% select(-T0, -M50, -MaxRate)

In [21]:
%%R
# printing out raw values
ICSS_dataSG14 %>% print()
ICSS_dataSG15 %>% print()
ICSS_dataSG17 %>% print()
ICSS_dataSG20 %>% print()
ICSS_dataSG24 %>% print()

# A tibble: 127 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2019-01-28 SG14    ShA-Female 2      28.7  64.5     180
 2 2019-01-28 SG14    ShA-Female 3      47.8  59.2     181
 3 2019-01-28 SG14    ShA-Female 4      40.2  73.6     171
 4 2019-01-29 SG14    ShA-Female 2      48.6  68.3     189
 5 2019-01-29 SG14    ShA-Female 3      47.0  56.3     162
 6 2019-01-29 SG14    ShA-Female 4      46.5  62.0     157
 7 2019-01-30 SG14    ShA-Female 2      49.5  67.8     182
 8 2019-01-30 SG14    ShA-Female 3      43.4  57.6     153
 9 2019-01-30 SG14    ShA-Female 4      50.4  64.4     152
10 2019-01-31 SG14    ShA-Female 2      40.4  66.9     171
# ... with 117 more rows
# A tibble: 145 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2019-01-17 SG15    LgA-Male   2      66.5 109.      148
 2 2019-01-17 SG15    LgA-Male   3      48.2 101.      134
 3 2019-01-17 SG15    LgA-Male   4      70.2  88.5      83
 4 2019-01-18 SG15    LgA-Male   2      75.7  90.4     119
 5 2019-01-18 SG15    LgA-Male   3      72.5  93.6     119
 6 2019-01-18 SG15    LgA-Male   4      73.1  86.3      42
 7 2019-01-22 SG15    LgA-Male   2      40.1  79.5     172
 8 2019-01-22 SG15    LgA-Male   3      62.4  70.2     143
 9 2019-01-22 SG15    LgA-Male   4      60.5  69.7      99
10 2019-01-23 SG15    LgA-Male   2      49.2 102.      125
# ... with 135 more rows
# A tibble: 127 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2019-01-28 SG17    ShA-Male   2      75.0 106.      196
 2 2019-01-28 SG17    ShA-Male   3      60.6  76.3     221
 3 2019-01-28 SG17    ShA-Male   4      72.1 108.      195
 4 2019-01-29 SG17    ShA-Male   2      61.2  69.8     201
 5 2019-01-29 SG17    ShA-Male   3      71.6  87.9     202
 6 2019-01-29 SG17    ShA-Male   4      66.9  86.6     165
 7 2019-01-30 SG17    ShA-Male   2      60.0  72.4     207
 8 2019-01-30 SG17    ShA-Male   3      58.4  85.2     198
 9 2019-01-30 SG17    ShA-Male   4      74.6  91.0     182
10 2019-01-31 SG17    ShA-Male   2      63.4  81.7     182
# ... with 117 more rows
# A tibble: 129 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2019-01-28 SG20    LgA-Female 2      50.8  70.3     278
 2 2019-01-28 SG20    LgA-Female 3      49.0  67.2     196
 3 2019-01-28 SG20    LgA-Female 4      59.2  71.5     200
 4 2019-01-29 SG20    LgA-Female 2      50.9  70.8     215
 5 2019-01-29 SG20    LgA-Female 3      50.7  72.7     175
 6 2019-01-29 SG20    LgA-Female 4      53.5  67.4     185
 7 2019-01-30 SG20    LgA-Female 2      50.6  71.9     231
 8 2019-01-30 SG20    LgA-Female 3      50.3  64.2     194
 9 2019-01-30 SG20    LgA-Female 4      48.9  58.7     174
10 2019-01-31 SG20    LgA-Female 2      50    58.0     214
# ... with 119 more rows
# A tibble: 147 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2019-01-17 SG24    LgA-Female 2      14.4  38.2     144
 2 2019-01-17 SG24    LgA-Female 3      23.0  31.2     115
 3 2019-01-17 SG24    LgA-Female 4      11.9  60.9     121
 4 2019-01-18 SG24    LgA-Female 2      13.0  26.1     158
 5 2019-01-18 SG24    LgA-Female 3      35.7  43.9     161
 6 2019-01-18 SG24    LgA-Female 4      60.2  70.0     107
 7 2019-01-22 SG24    LgA-Female 2      17.6  33.6     166
 8 2019-01-22 SG24    LgA-Female 3      34.7  63.7     105
 9 2019-01-22 SG24    LgA-Female 4      29.8  37.1     102
10 2019-01-23 SG24    LgA-Female 2      30.2  43.8     159
# ... with 137 more rows

In [22]:
%%R
# printing out mean values
ICSS_meanSG14 %>% print()
ICSS_meanSG15 %>% print()
ICSS_meanSG17 %>% print()
ICSS_meanSG20 %>% print()
ICSS_meanSG24 %>% print()

# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG14     47.6  66.1    166.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG15     49.2  89.1    154.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG17     62.3  87.1    165.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG20     51.1  65.7    189.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 SG24     50.6  72.5    115.

In [23]:
%%R 
# printing out means data
ICSS_meansSG14 <- ICSS_meansSG14 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansSG15 <- ICSS_meansSG15 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansSG17 <- ICSS_meansSG17 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansSG20 <- ICSS_meansSG20 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansSG24 <- ICSS_meansSG24 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()

# A tibble: 127 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-28 SG14    ShA-Female 2        28.7     64.5          180
 2 2019-01-28 SG14    ShA-Female 3        47.8     59.2          181
 3 2019-01-28 SG14    ShA-Female 4        40.2     73.6          171
 4 2019-01-29 SG14    ShA-Female 2        48.6     68.3          189
 5 2019-01-29 SG14    ShA-Female 3        47.0     56.3          162
 6 2019-01-29 SG14    ShA-Female 4        46.5     62.0          157
 7 2019-01-30 SG14    ShA-Female 2        49.5     67.8          182
 8 2019-01-30 SG14    ShA-Female 3        43.4     57.6          153
 9 2019-01-30 SG14    ShA-Female 4        50.4     64.4          152
10 2019-01-31 SG14    ShA-Female 2        40.4     66.9          171
# ... with 117 more rows
# A tibble: 145 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-17 SG15    LgA-Male   2        66.5    109.           148
 2 2019-01-17 SG15    LgA-Male   3        48.2    101.           134
 3 2019-01-17 SG15    LgA-Male   4        70.2     88.5           83
 4 2019-01-18 SG15    LgA-Male   2        75.7     90.4          119
 5 2019-01-18 SG15    LgA-Male   3        72.5     93.6          119
 6 2019-01-18 SG15    LgA-Male   4        73.1     86.3           42
 7 2019-01-22 SG15    LgA-Male   2        40.1     79.5          172
 8 2019-01-22 SG15    LgA-Male   3        62.4     70.2          143
 9 2019-01-22 SG15    LgA-Male   4        60.5     69.7           99
10 2019-01-23 SG15    LgA-Male   2        49.2    102.           125
# ... with 135 more rows
# A tibble: 127 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-28 SG17    ShA-Male   2        75.0    106.           196
 2 2019-01-28 SG17    ShA-Male   3        60.6     76.3          221
 3 2019-01-28 SG17    ShA-Male   4        72.1    108.           195
 4 2019-01-29 SG17    ShA-Male   2        61.2     69.8          201
 5 2019-01-29 SG17    ShA-Male   3        71.6     87.9          202
 6 2019-01-29 SG17    ShA-Male   4        66.9     86.6          165
 7 2019-01-30 SG17    ShA-Male   2        60.0     72.4          207
 8 2019-01-30 SG17    ShA-Male   3        58.4     85.2          198
 9 2019-01-30 SG17    ShA-Male   4        74.6     91.0          182
10 2019-01-31 SG17    ShA-Male   2        63.4     81.7          182
# ... with 117 more rows
# A tibble: 129 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-28 SG20    LgA-Female 2        50.8     70.3          278
 2 2019-01-28 SG20    LgA-Female 3        49.0     67.2          196
 3 2019-01-28 SG20    LgA-Female 4        59.2     71.5          200
 4 2019-01-29 SG20    LgA-Female 2        50.9     70.8          215
 5 2019-01-29 SG20    LgA-Female 3        50.7     72.7          175
 6 2019-01-29 SG20    LgA-Female 4        53.5     67.4          185
 7 2019-01-30 SG20    LgA-Female 2        50.6     71.9          231
 8 2019-01-30 SG20    LgA-Female 3        50.3     64.2          194
 9 2019-01-30 SG20    LgA-Female 4        48.9     58.7          174
10 2019-01-31 SG20    LgA-Female 2        50       58.0          214
# ... with 119 more rows
# A tibble: 147 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-17 SG24    LgA-Female 2        14.4     38.2          144
 2 2019-01-17 SG24    LgA-Female 3        23.0     31.2          115
 3 2019-01-17 SG24    LgA-Female 4        11.9     60.9          121
 4 2019-01-18 SG24    LgA-Female 2        13.0     26.1          158
 5 2019-01-18 SG24    LgA-Female 3        35.7     43.9          161
 6 2019-01-18 SG24    LgA-Female 4        60.2     70.0          107
 7 2019-01-22 SG24    LgA-Female 2        17.6     33.6          166
 8 2019-01-22 SG24    LgA-Female 3        34.7     63.7          105
 9 2019-01-22 SG24    LgA-Female 4        29.8     37.1          102
10 2019-01-23 SG24    LgA-Female 2        30.2     43.8          159
# ... with 137 more rows

In [24]:
%%R
# printing out normalized data
ICSS_normSG14 <- ICSS_normSG14 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normSG15 <- ICSS_normSG15 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normSG17 <- ICSS_normSG17 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normSG20 <- ICSS_normSG20 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normSG24 <- ICSS_normSG24 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print()

# A tibble: 127 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-28 SG14    ShA-Female 2        60.3     97.6        109.
 2 2019-01-28 SG14    ShA-Female 3       100.      89.6        109.
 3 2019-01-28 SG14    ShA-Female 4        84.5    111.         103.
 4 2019-01-29 SG14    ShA-Female 2       102.     103.         114.
 5 2019-01-29 SG14    ShA-Female 3        98.7     85.2         97.8
 6 2019-01-29 SG14    ShA-Female 4        97.7     93.9         94.8
 7 2019-01-30 SG14    ShA-Female 2       104.     103.         110.
 8 2019-01-30 SG14    ShA-Female 3        91.2     87.2         92.4
 9 2019-01-30 SG14    ShA-Female 4       106.      97.4         91.8
10 2019-01-31 SG14    ShA-Female 2        84.9    101.         103.
# ... with 117 more rows
# A tibble: 145 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-17 SG15    LgA-Male   2       135.     122.          96.2
 2 2019-01-17 SG15    LgA-Male   3        97.9    113.          87.1
 3 2019-01-17 SG15    LgA-Male   4       143.      99.3         53.9
 4 2019-01-18 SG15    LgA-Male   2       154.     101.          77.3
 5 2019-01-18 SG15    LgA-Male   3       147.     105.          77.3
 6 2019-01-18 SG15    LgA-Male   4       149.      96.9         27.3
 7 2019-01-22 SG15    LgA-Male   2        81.4     89.3        112.
 8 2019-01-22 SG15    LgA-Male   3       127.      78.8         92.9
 9 2019-01-22 SG15    LgA-Male   4       123.      78.3         64.3
10 2019-01-23 SG15    LgA-Male   2       100.     114.          81.2
# ... with 135 more rows
# A tibble: 127 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-28 SG17    ShA-Male   2       121.     122.          119.
 2 2019-01-28 SG17    ShA-Male   3        97.4     87.6         134.
 3 2019-01-28 SG17    ShA-Male   4       116.     124.          118.
 4 2019-01-29 SG17    ShA-Male   2        98.3     80.1         122.
 5 2019-01-29 SG17    ShA-Male   3       115.     101.          122.
 6 2019-01-29 SG17    ShA-Male   4       107.      99.4         100.
 7 2019-01-30 SG17    ShA-Male   2        96.4     83.1         126.
 8 2019-01-30 SG17    ShA-Male   3        93.7     97.9         120.
 9 2019-01-30 SG17    ShA-Male   4       120.     105.          110.
10 2019-01-31 SG17    ShA-Male   2       102.      93.8         110.
# ... with 117 more rows
# A tibble: 129 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-28 SG20    LgA-Female 2        99.5    107.         147.
 2 2019-01-28 SG20    LgA-Female 3        95.9    102.         104.
 3 2019-01-28 SG20    LgA-Female 4       116.     109.         106.
 4 2019-01-29 SG20    LgA-Female 2        99.7    108.         114.
 5 2019-01-29 SG20    LgA-Female 3        99.3    111.          92.6
 6 2019-01-29 SG20    LgA-Female 4       105.     102.          97.8
 7 2019-01-30 SG20    LgA-Female 2        99.1    109.         122.
 8 2019-01-30 SG20    LgA-Female 3        98.4     97.7        103.
 9 2019-01-30 SG20    LgA-Female 4        95.7     89.2         92.0
10 2019-01-31 SG20    LgA-Female 2        97.9     88.3        113.
# ... with 119 more rows
# A tibble: 147 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-17 SG24    LgA-Female 2        28.5     52.6        125.
 2 2019-01-17 SG24    LgA-Female 3        45.5     42.9        100.
 3 2019-01-17 SG24    LgA-Female 4        23.5     84.0        105.
 4 2019-01-18 SG24    LgA-Female 2        25.8     36.0        138.
 5 2019-01-18 SG24    LgA-Female 3        70.5     60.5        140.
 6 2019-01-18 SG24    LgA-Female 4       119.      96.5         93.2
 7 2019-01-22 SG24    LgA-Female 2        34.7     46.4        145.
 8 2019-01-22 SG24    LgA-Female 3        68.6     87.8         91.4
 9 2019-01-22 SG24    LgA-Female 4        58.8     51.1         88.8
10 2019-01-23 SG24    LgA-Female 2        59.6     60.4        138.
# ... with 137 more rows

In [25]:
%%R
# combine all the Subject data into one single data frame and plot
ICSS_meansData <- bind_rows(ICSS_meansSG14, ICSS_meansSG15, ICSS_meansSG17, ICSS_meansSG20, ICSS_meansSG24) %>% arrange(Date) %>% print

# A tibble: 675 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-17 SG15    LgA-Male   2        66.5    109.           148
 2 2019-01-17 SG15    LgA-Male   3        48.2    101.           134
 3 2019-01-17 SG15    LgA-Male   4        70.2     88.5           83
 4 2019-01-17 SG24    LgA-Female 2        14.4     38.2          144
 5 2019-01-17 SG24    LgA-Female 3        23.0     31.2          115
 6 2019-01-17 SG24    LgA-Female 4        11.9     60.9          121
 7 2019-01-18 SG15    LgA-Male   2        75.7     90.4          119
 8 2019-01-18 SG15    LgA-Male   3        72.5     93.6          119
 9 2019-01-18 SG15    LgA-Male   4        73.1     86.3           42
10 2019-01-18 SG24    LgA-Female 2        13.0     26.1          158
# ... with 665 more rows

In [26]:
%%R
# combine all the Subject data into one single data frame and plot
ICSS_normData <- bind_rows(ICSS_normSG14, ICSS_normSG15, ICSS_normSG17, ICSS_normSG20, ICSS_normSG24) %>% arrange(Date) %>% print

# A tibble: 675 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2019-01-17 SG15    LgA-Male   2       135.     122.          96.2
 2 2019-01-17 SG15    LgA-Male   3        97.9    113.          87.1
 3 2019-01-17 SG15    LgA-Male   4       143.      99.3         53.9
 4 2019-01-17 SG24    LgA-Female 2        28.5     52.6        125.
 5 2019-01-17 SG24    LgA-Female 3        45.5     42.9        100.
 6 2019-01-17 SG24    LgA-Female 4        23.5     84.0        105.
 7 2019-01-18 SG15    LgA-Male   2       154.     101.          77.3
 8 2019-01-18 SG15    LgA-Male   3       147.     105.          77.3
 9 2019-01-18 SG15    LgA-Male   4       149.      96.9         27.3
10 2019-01-18 SG24    LgA-Female 2        25.8     36.0        138.
# ... with 665 more rows

---

## 3. Saving data

In [27]:
%%R
# 3.1. Long form for R
# 3.1.1. Collated raw data for for all passes
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_data, file.path(ICSS_dataDir, "_icssData_pm_cohort01_raw_longform.csv"))

In [28]:
%%R
# 3.1. Long form for R
# 3.1.2. Collated means for for Pass 2-4
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_meansData, file.path(ICSS_dataDir, "_icssData_pm_cohort01_means_longform.csv"))

In [29]:
%%R
# 3.1. Long form for R
# 3.1.3. Normalized means for Pass 2-4
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_normData, file.path(ICSS_dataDir, "_icssData_pm_cohort01_normalized_longform.csv"))

---

Author: Suman K. Guha <br/>
Date: April 13, 2019