# ICSS(AM) data processing for cohort02

**METADATA:**

|Sex    | ICSS+ShA | ICSS+LgA      |
|:-----:|:--------:|:-------------:|
|Males  | NULL     | NC1, NC3, NC7 |
|-------|----------|---------------|
|Females| NULL     | NC4, NC6, NC8 |
|-------|----------|---------------|

**OUTLINE:**

1. Preprocessing data
    1. Running `preprocessICSSFiles -f $filename` script 
    2. Collating all the \.csv files that the script generates into one data table
    3. Assign datatype to columns
    4. Get an overview of the Dates and the Subjects
    5. Filter out unrequired subjects
2. Annotating data
3. Normalizing data
    1. Consistency between pre- and post-surgery days
    2. Calculate baseline
    3. Normalize to baseline
        1. Theta0
        2. M50
        3. MaxRate
4. Saving data 
    1. Long form for R
        1. Collated raw data for for all passes
            1. Theta0
            2. M50
            3. MaxRate
        2. Collated means for for Pass 2-4
            1. Theta0
            2. M50
            3. MaxRate
        3. Normalized means for Pass 2-4
            1. Theta0
            2. M50
            3. MaxRate
    2. Wide form for prism
---

In [44]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [45]:
%%capture
%%R
# loading required libraries for R
library(tidyverse)
library(lubridate)

---

## 1. Preprocessing data

In [46]:
%%capture
%%bash
## # 1.1. Preprocessing ANA files that are generated by Steve Cabilio's program
## # this line makes the script machine agnostic by assigning the username automatically
## userName=$(echo $USER)
## 
## # We move to the folder where the cohort data is stored
## # cd </path/to/cohort/data>
## cd /Users/$userName/Dropbox\ \(Partners\ HealthCare\)/Projects/R01_2017_OxycSA-NASh-Glutamate/_data_R01_2017/_data_R01_2017_ICSS/_ana_files/Cohort00
## 
## # entering each subject/animal directory to list all the CSV files and to run the program on each
## for dirName in $(ls -d */)
## do
##     cd $dirName
##     for fileName in $(ls ANA*.CSV)
##     do
##         preprocessICSSFiles --file $fileName;
##     done
##     cd ..
## done

In [47]:
%%capture
%%R
# 1.2. Collating all the files into one tibble
# loading data: set the path to 
ICSS_dataDir <- "~/Dropbox (Partners HealthCare)/Projects/R01_2017_OxycSA-NASh-Glutamate/_data_R01_2017/_data_R01_2017_ICSS/_ana_files/Cohort00/"
ICSS_fileList <- list.files(path = ICSS_dataDir, pattern = "preprocessed.csv", recursive = T)
## generating combined data table
ICSS_data <- ICSS_fileList %>% map(~ read_csv(file.path(ICSS_dataDir, .))) %>% reduce(rbind)

In [48]:
%%R
ICSS_data %>% print

# A tibble: 2,196 x 7
   Date       Subject Experiment  Pass T0    M50   MaxRate
   <date>     <chr>   <chr>      <dbl> <chr> <chr>   <dbl>
 1 2018-09-20 NC1     RF             1 14.52 41.93     105
 2 2018-09-20 NC1     RF             2 31.01 73.05     109
 3 2018-09-20 NC1     RF             3 51.9  83.04      94
 4 2018-09-20 NC1     RF             4 58.96 85.4       98
 5 2018-09-21 NC1     RF             1 35.1  72.22      91
 6 2018-09-21 NC1     RF             2 62.93 84.09      85
 7 2018-09-21 NC1     RF             3 77.5  88.03      93
 8 2018-09-21 NC1     RF             4 79    94.28      96
 9 2018-09-24 NC1     RF             1 25.02 66.79      92
10 2018-09-24 NC1     RF             2 64.14 83.54     122
# ... with 2,186 more rows

In [49]:
%%R
# 1.3. Assign data type to columns. 
# This gets broken when there are missing values
# Ideal data types
# Date   | Subject  | Experiment |   Pass   |  T0   |  M50  | MaxRate
# <date> | <factor> |  <factor>  | <factor> | <num> | <num> |  <num>

ICSS_data$Subject <- ICSS_data$Subject %>% as.factor
ICSS_data$Pass <- ICSS_data$Pass %>% as.factor
ICSS_data$T0 <- ICSS_data$T0 %>% as.numeric
ICSS_data$M50 <- ICSS_data$M50 %>% as.numeric
ICSS_data %>% print

# A tibble: 2,196 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <chr>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-20 NC1     RF         1      14.5  41.9     105
 2 2018-09-20 NC1     RF         2      31.0  73.0     109
 3 2018-09-20 NC1     RF         3      51.9  83.0      94
 4 2018-09-20 NC1     RF         4      59.0  85.4      98
 5 2018-09-21 NC1     RF         1      35.1  72.2      91
 6 2018-09-21 NC1     RF         2      62.9  84.1      85
 7 2018-09-21 NC1     RF         3      77.5  88.0      93
 8 2018-09-21 NC1     RF         4      79    94.3      96
 9 2018-09-24 NC1     RF         1      25.0  66.8      92
10 2018-09-24 NC1     RF         2      64.1  83.5     122
# ... with 2,186 more rows

In [50]:
%%R
# 1.4. Overview
# Dates over which the experiment has run
ICSS_data$Date %>% str()
ICSS_data$Date %>% unique()

 Date[1:2196], format: "2018-09-20" "2018-09-20" "2018-09-20" "2018-09-20" "2018-09-21" ...
 [1] "2018-09-20" "2018-09-21" "2018-09-24" "2018-09-25" "2018-09-26"
 [6] "2018-09-27" "2018-09-28" "2018-10-01" "2018-10-02" "2018-10-03"
[11] "2018-10-04" "2018-10-05" "2018-10-09" "2018-10-10" "2018-10-11"
[16] "2018-10-12" "2018-10-15" "2018-10-16" "2018-10-17" "2018-10-18"
[21] "2018-10-19" "2018-10-29" "2018-10-30" "2018-10-31" "2018-11-01"
[26] "2018-11-02" "2018-11-05" "2018-11-06" "2018-11-07" "2018-11-08"
[31] "2018-11-09" "2018-11-12" "2018-11-13" "2018-11-14" "2018-11-15"
[36] "2018-11-16" "2018-11-19" "2018-11-20" "2018-11-21" "2018-11-22"
[41] "2018-11-26" "2018-11-27" "2018-11-28" "2018-11-29" "2018-11-30"
[46] "2018-12-03" "2018-12-04" "2018-12-05" "2018-12-06" "2018-12-07"
[51] "2018-12-10" "2018-12-11" "2018-12-12" "2018-12-13" "2018-09-04"
[56] "2018-09-05" "2018-09-06" "2018-09-07" "2018-09-10" "2018-09-11"
[61] "2018-09-12" "2018-09-13" "2018-09-17" "2018-10-08" "2018-10-22"
[66] "2018-10-23" "2018-10-24" "2018-10-25" "2018-10-26"

In [51]:
%%R
# 1.4. Overview
# Subjects in the experiment over which the experiment has run
ICSS_data$Subject %>% str()
ICSS_data$Subject %>% unique()

 Factor w/ 11 levels "NC1","NC3","NC4",..: 1 1 1 1 1 1 1 1 1 1 ...
 [1] NC1 NC3 NC4 NC6 NC7 NC8 SG4 SG5 SG6 SG7 SG8
Levels: NC1 NC3 NC4 NC6 NC7 NC8 SG4 SG5 SG6 SG7 SG8

In [52]:
%%R
# 1.5. Filter out un-required data
# This folder was made before any organization was put in place. So multiple cohorts got lumped together into the same one as 'Cohort00'
# Keeping only the 4 animals that were in the original 'Cohort01'
ICSS_data <- ICSS_data %>% filter(Subject == "NC1" | Subject == "NC3" | Subject == "NC7" | Subject == "NC4" | Subject == "NC6" | Subject == "NC8")

In [53]:
%%R
# Overview of dates
ICSS_data$Date %>% unique

 [1] "2018-09-20" "2018-09-21" "2018-09-24" "2018-09-25" "2018-09-26"
 [6] "2018-09-27" "2018-09-28" "2018-10-01" "2018-10-02" "2018-10-03"
[11] "2018-10-04" "2018-10-05" "2018-10-09" "2018-10-10" "2018-10-11"
[16] "2018-10-12" "2018-10-15" "2018-10-16" "2018-10-17" "2018-10-18"
[21] "2018-10-19" "2018-10-29" "2018-10-30" "2018-10-31" "2018-11-01"
[26] "2018-11-02" "2018-11-05" "2018-11-06" "2018-11-07" "2018-11-08"
[31] "2018-11-09" "2018-11-12" "2018-11-13" "2018-11-14" "2018-11-15"
[36] "2018-11-16" "2018-11-19" "2018-11-20" "2018-11-21" "2018-11-22"
[41] "2018-11-26" "2018-11-27" "2018-11-28" "2018-11-29" "2018-11-30"
[46] "2018-12-03" "2018-12-04" "2018-12-05" "2018-12-06" "2018-12-07"
[51] "2018-12-10" "2018-12-11" "2018-12-12" "2018-12-13"

---

## 2. Annotating Data

In [54]:
%%R
# 3. Annotating Data
ICSS_data$Experiment[ICSS_data$Subject == "NC1"] <- "LgA-Male" 
ICSS_data$Experiment[ICSS_data$Subject == "NC3"] <- "LgA-Male"
ICSS_data$Experiment[ICSS_data$Subject == "NC7"] <- "LgA-Male"
ICSS_data$Experiment[ICSS_data$Subject == "NC4"] <- "LgA-Female"
ICSS_data$Experiment[ICSS_data$Subject == "NC6"] <- "LgA-Female"
ICSS_data$Experiment[ICSS_data$Subject == "NC8"] <- "LgA-Female"
ICSS_data$Experiment <- ICSS_data$Experiment %>% as.factor

In [55]:
%%R
ICSS_data %>% print

# A tibble: 1,296 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-20 NC1     LgA-Male   1      14.5  41.9     105
 2 2018-09-20 NC1     LgA-Male   2      31.0  73.0     109
 3 2018-09-20 NC1     LgA-Male   3      51.9  83.0      94
 4 2018-09-20 NC1     LgA-Male   4      59.0  85.4      98
 5 2018-09-21 NC1     LgA-Male   1      35.1  72.2      91
 6 2018-09-21 NC1     LgA-Male   2      62.9  84.1      85
 7 2018-09-21 NC1     LgA-Male   3      77.5  88.0      93
 8 2018-09-21 NC1     LgA-Male   4      79    94.3      96
 9 2018-09-24 NC1     LgA-Male   1      25.0  66.8      92
10 2018-09-24 NC1     LgA-Male   2      64.1  83.5     122
# ... with 1,286 more rows

---

## 2. Normalizing ICSS Data
Normalizing data to 3 days pre- and post-surgery <br/>
Normalizing dates <br/>
Pre-surgery: 2018-10-17, 2018-10-18, 2018-10-19 <br/>
Post-surgery: 2018-10-29, 2018-10-30, 2018-10-31 <br/>

In [56]:
%%R
# 2. Normalizing data
# Normalizing Pass: Pass > 1 & Pass <= 4
ICSS_dataNC1 <- ICSS_data %>% filter(Subject == "NC1" & Pass != "1") %>% na.omit()
ICSS_dataNC3 <- ICSS_data %>% filter(Subject == "NC3" & Pass != "1") %>% na.omit()
ICSS_dataNC7 <- ICSS_data %>% filter(Subject == "NC7" & Pass != "1") %>% na.omit()
ICSS_dataNC4 <- ICSS_data %>% filter(Subject == "NC4" & Pass != "1") %>% na.omit()
ICSS_dataNC6 <- ICSS_data %>% filter(Subject == "NC6" & Pass != "1") %>% na.omit()
ICSS_dataNC8 <- ICSS_data %>% filter(Subject == "NC8" & Pass != "1") %>% na.omit()

In [57]:
%%R
# Subsetting individual subject data and excluding Pass 1 
ICSS_meansNC1 <- ICSS_data %>% filter(Subject == "NC1" & Pass != "1") %>% na.omit()
ICSS_meansNC3 <- ICSS_data %>% filter(Subject == "NC3" & Pass != "1") %>% na.omit()
ICSS_meansNC7 <- ICSS_data %>% filter(Subject == "NC7" & Pass != "1") %>% na.omit()
ICSS_meansNC4 <- ICSS_data %>% filter(Subject == "NC4" & Pass != "1") %>% na.omit()
ICSS_meansNC6 <- ICSS_data %>% filter(Subject == "NC6" & Pass != "1") %>% na.omit()
ICSS_meansNC8 <- ICSS_data %>% filter(Subject == "NC8" & Pass != "1") %>% na.omit()

In [58]:
%%R
# Removing 'Pass' variable and calculating mean
ICSS_meanNC1 <- ICSS_data %>% filter(Subject == "NC1" & Pass != "1" & Date >= "2018-10-17" & Date <= "2018-10-31") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanNC3 <- ICSS_data %>% filter(Subject == "NC3" & Pass != "1" & Date >= "2018-10-17" & Date <= "2018-10-31") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanNC7 <- ICSS_data %>% filter(Subject == "NC7" & Pass != "1" & Date >= "2018-10-17" & Date <= "2018-10-31") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanNC4 <- ICSS_data %>% filter(Subject == "NC4" & Pass != "1" & Date >= "2018-10-17" & Date <= "2018-10-31") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanNC6 <- ICSS_data %>% filter(Subject == "NC6" & Pass != "1" & Date >= "2018-10-17" & Date <= "2018-10-31") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)
ICSS_meanNC8 <- ICSS_data %>% filter(Subject == "NC8" & Pass != "1" & Date >= "2018-10-17" & Date <= "2018-10-31") %>% na.omit() %>% select(-Date, -Pass, -Experiment) %>% group_by(Subject) %>% summarise_all(mean)

In [59]:
%%R
# normalizing T0 data to means
ICSS_meansNC1 <- ICSS_meansNC1 %>% mutate(norm.T0 = (T0 / ICSS_meanNC1$T0 * 100))
ICSS_meansNC3 <- ICSS_meansNC3 %>% mutate(norm.T0 = (T0 / ICSS_meanNC3$T0 * 100))
ICSS_meansNC7 <- ICSS_meansNC7 %>% mutate(norm.T0 = (T0 / ICSS_meanNC7$T0 * 100))
ICSS_meansNC4 <- ICSS_meansNC4 %>% mutate(norm.T0 = (T0 / ICSS_meanNC4$T0 * 100))
ICSS_meansNC6 <- ICSS_meansNC6 %>% mutate(norm.T0 = (T0 / ICSS_meanNC6$T0 * 100))
ICSS_meansNC8 <- ICSS_meansNC8 %>% mutate(norm.T0 = (T0 / ICSS_meanNC8$T0 * 100))

In [60]:
%%R
# normalizing M50 data to means
ICSS_meansNC1 <- ICSS_meansNC1 %>% mutate(norm.M50 = (M50 / ICSS_meanNC1$M50 * 100))
ICSS_meansNC3 <- ICSS_meansNC3 %>% mutate(norm.M50 = (M50 / ICSS_meanNC3$M50 * 100))
ICSS_meansNC7 <- ICSS_meansNC7 %>% mutate(norm.M50 = (M50 / ICSS_meanNC7$M50 * 100))
ICSS_meansNC4 <- ICSS_meansNC4 %>% mutate(norm.M50 = (M50 / ICSS_meanNC4$M50 * 100))
ICSS_meansNC6 <- ICSS_meansNC6 %>% mutate(norm.M50 = (M50 / ICSS_meanNC6$M50 * 100))
ICSS_meansNC8 <- ICSS_meansNC8 %>% mutate(norm.M50 = (M50 / ICSS_meanNC8$M50 * 100))

In [61]:
%%R 
# normalizing MaxRate data to means
ICSS_meansNC1 <- ICSS_meansNC1 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanNC1$MaxRate * 100))
ICSS_meansNC3 <- ICSS_meansNC3 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanNC3$MaxRate * 100))
ICSS_meansNC7 <- ICSS_meansNC7 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanNC7$MaxRate * 100))
ICSS_meansNC4 <- ICSS_meansNC4 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanNC4$MaxRate * 100))
ICSS_meansNC6 <- ICSS_meansNC6 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanNC6$MaxRate * 100))
ICSS_meansNC8 <- ICSS_meansNC8 %>% mutate(norm.MaxRate = (MaxRate / ICSS_meanNC8$MaxRate * 100))

In [62]:
%%R
ICSS_normNC1 <- ICSS_meansNC1 %>% select(-T0, -M50, -MaxRate)
ICSS_normNC3 <- ICSS_meansNC3 %>% select(-T0, -M50, -MaxRate)
ICSS_normNC7 <- ICSS_meansNC7 %>% select(-T0, -M50, -MaxRate)
ICSS_normNC4 <- ICSS_meansNC4 %>% select(-T0, -M50, -MaxRate)
ICSS_normNC6 <- ICSS_meansNC6 %>% select(-T0, -M50, -MaxRate)
ICSS_normNC8 <- ICSS_meansNC8 %>% select(-T0, -M50, -MaxRate)

In [63]:
%%R
# printing out raw values
ICSS_dataNC1 %>% print()
ICSS_dataNC3 %>% print()
ICSS_dataNC7 %>% print()
ICSS_dataNC4 %>% print()
ICSS_dataNC6 %>% print()
ICSS_dataNC8 %>% print()

# A tibble: 161 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-20 NC1     LgA-Male   2      31.0  73.0     109
 2 2018-09-20 NC1     LgA-Male   3      51.9  83.0      94
 3 2018-09-20 NC1     LgA-Male   4      59.0  85.4      98
 4 2018-09-21 NC1     LgA-Male   2      62.9  84.1      85
 5 2018-09-21 NC1     LgA-Male   3      77.5  88.0      93
 6 2018-09-21 NC1     LgA-Male   4      79    94.3      96
 7 2018-09-24 NC1     LgA-Male   2      64.1  83.5     122
 8 2018-09-24 NC1     LgA-Male   3      66.8  84.0      92
 9 2018-09-24 NC1     LgA-Male   4      64.9  82.6      92
10 2018-09-25 NC1     LgA-Male   2      50.4  78.7     111
# ... with 151 more rows
# A tibble: 161 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-20 NC3     LgA-Male   2      60.8  69.3     118
 2 2018-09-20 NC3     LgA-Male   4      50.7  87.9      72
 3 2018-09-21 NC3     LgA-Male   2      58.3  90.8      61
 4 2018-09-21 NC3     LgA-Male   3      76.1  91.5      50
 5 2018-09-21 NC3     LgA-Male   4      71.9  99.2      58
 6 2018-09-24 NC3     LgA-Male   2      79    93.4      91
 7 2018-09-24 NC3     LgA-Male   3      41.1  95.0      65
 8 2018-09-24 NC3     LgA-Male   4      68.5 103.       66
 9 2018-09-25 NC3     LgA-Male   2      79    89.9      80
10 2018-09-25 NC3     LgA-Male   3      77.5  99.6      71
# ... with 151 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-20 NC7     LgA-Male   2      77.3  89.7     148
 2 2018-09-20 NC7     LgA-Male   3      79.1 100.      123
 3 2018-09-20 NC7     LgA-Male   4      79    91.5     110
 4 2018-09-21 NC7     LgA-Male   2      77.7  95.8     156
 5 2018-09-21 NC7     LgA-Male   3      96.9 111.      112
 6 2018-09-21 NC7     LgA-Male   4      98.4 111.      107
 7 2018-09-24 NC7     LgA-Male   2      77.6  88.1     153
 8 2018-09-24 NC7     LgA-Male   3      81.7 104.      128
 9 2018-09-24 NC7     LgA-Male   4      84.9 107.      130
10 2018-09-25 NC7     LgA-Male   2      77.7  94.1     162
# ... with 152 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-20 NC4     LgA-Female 2      34.9  74.8     143
 2 2018-09-20 NC4     LgA-Female 3      60.4  70.0      98
 3 2018-09-20 NC4     LgA-Female 4      60.6  78.9     104
 4 2018-09-21 NC4     LgA-Female 2      77.5  88.0     132
 5 2018-09-21 NC4     LgA-Female 3      75.6  87.0     127
 6 2018-09-21 NC4     LgA-Female 4      70.7  95.1     166
 7 2018-09-24 NC4     LgA-Female 2      58.4  82.6     167
 8 2018-09-24 NC4     LgA-Female 3      62.1  70.9     115
 9 2018-09-24 NC4     LgA-Female 4      50    56.1     199
10 2018-09-25 NC4     LgA-Female 2      41.9  68.6     202
# ... with 152 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass         T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct>     <dbl> <dbl>   <dbl>
 1 2018-09-20 NC6     LgA-Female 2          14.3 40.8      170
 2 2018-09-20 NC6     LgA-Female 3          17.2 47.8      173
 3 2018-09-20 NC6     LgA-Female 4     7271214.   1.71     259
 4 2018-09-21 NC6     LgA-Female 2          18.5 39.4      137
 5 2018-09-21 NC6     LgA-Female 3          19.1 45.4      136
 6 2018-09-21 NC6     LgA-Female 4          27.4 56.7      111
 7 2018-09-24 NC6     LgA-Female 2          25   28.3      194
 8 2018-09-24 NC6     LgA-Female 3          25.8 33.3      141
 9 2018-09-24 NC6     LgA-Female 4          26.1 52.2      149
10 2018-09-25 NC6     LgA-Female 2          31.0 36.0      126
# ... with 152 more rows
# A tibble: 155 x 7
   Date       Subject Experiment Pass     T0   M50 MaxRate
   <date>     <fct>   <fct>      <fct> <dbl> <dbl>   <dbl>
 1 2018-09-20 NC8     LgA-Female 2      36.1  68.3     156
 2 2018-09-20 NC8     LgA-Female 3      64.2  81.8     110
 3 2018-09-20 NC8     LgA-Female 4      36.4  82.3      84
 4 2018-09-21 NC8     LgA-Female 2      59.3  76.5     108
 5 2018-09-21 NC8     LgA-Female 3      69.0  85.1     115
 6 2018-09-21 NC8     LgA-Female 4      76.0  96.1      87
 7 2018-09-25 NC8     LgA-Female 2      42.1  79.0     155
 8 2018-09-25 NC8     LgA-Female 3      47.7  72.2     127
 9 2018-09-25 NC8     LgA-Female 4      36.2  72.0     134
10 2018-09-26 NC8     LgA-Female 2      62.8  87.5     171
# ... with 145 more rows

In [64]:
%%R
# printing out mean values
ICSS_meanNC1 %>% print()
ICSS_meanNC3 %>% print()
ICSS_meanNC7 %>% print()
ICSS_meanNC4 %>% print()
ICSS_meanNC6 %>% print()
ICSS_meanNC8 %>% print()

# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 NC1      59.2  71.7    123.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 NC3      70.1  89.6    102.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 NC7      65.4  82.7    206.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 NC4      52.7  71.7    224.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 NC6      41.4  54.6    135.
# A tibble: 1 x 4
  Subject    T0   M50 MaxRate
  <fct>   <dbl> <dbl>   <dbl>
1 NC8      55.0  68.4    126.

In [65]:
%%R 
# printing out means data
ICSS_meansNC1 <- ICSS_meansNC1 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansNC3 <- ICSS_meansNC3 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansNC7 <- ICSS_meansNC7 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansNC4 <- ICSS_meansNC4 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansNC6 <- ICSS_meansNC6 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()
ICSS_meansNC8 <- ICSS_meansNC8 %>% rename(mean.T0 = T0, mean.M50 = M50, mean.MaxRate = MaxRate) %>% select(-norm.T0, -norm.M50, -norm.MaxRate) %>% print()

# A tibble: 161 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC1     LgA-Male   2        31.0     73.0          109
 2 2018-09-20 NC1     LgA-Male   3        51.9     83.0           94
 3 2018-09-20 NC1     LgA-Male   4        59.0     85.4           98
 4 2018-09-21 NC1     LgA-Male   2        62.9     84.1           85
 5 2018-09-21 NC1     LgA-Male   3        77.5     88.0           93
 6 2018-09-21 NC1     LgA-Male   4        79       94.3           96
 7 2018-09-24 NC1     LgA-Male   2        64.1     83.5          122
 8 2018-09-24 NC1     LgA-Male   3        66.8     84.0           92
 9 2018-09-24 NC1     LgA-Male   4        64.9     82.6           92
10 2018-09-25 NC1     LgA-Male   2        50.4     78.7          111
# ... with 151 more rows
# A tibble: 161 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC3     LgA-Male   2        60.8     69.3          118
 2 2018-09-20 NC3     LgA-Male   4        50.7     87.9           72
 3 2018-09-21 NC3     LgA-Male   2        58.3     90.8           61
 4 2018-09-21 NC3     LgA-Male   3        76.1     91.5           50
 5 2018-09-21 NC3     LgA-Male   4        71.9     99.2           58
 6 2018-09-24 NC3     LgA-Male   2        79       93.4           91
 7 2018-09-24 NC3     LgA-Male   3        41.1     95.0           65
 8 2018-09-24 NC3     LgA-Male   4        68.5    103.            66
 9 2018-09-25 NC3     LgA-Male   2        79       89.9           80
10 2018-09-25 NC3     LgA-Male   3        77.5     99.6           71
# ... with 151 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC7     LgA-Male   2        77.3     89.7          148
 2 2018-09-20 NC7     LgA-Male   3        79.1    100.           123
 3 2018-09-20 NC7     LgA-Male   4        79       91.5          110
 4 2018-09-21 NC7     LgA-Male   2        77.7     95.8          156
 5 2018-09-21 NC7     LgA-Male   3        96.9    111.           112
 6 2018-09-21 NC7     LgA-Male   4        98.4    111.           107
 7 2018-09-24 NC7     LgA-Male   2        77.6     88.1          153
 8 2018-09-24 NC7     LgA-Male   3        81.7    104.           128
 9 2018-09-24 NC7     LgA-Male   4        84.9    107.           130
10 2018-09-25 NC7     LgA-Male   2        77.7     94.1          162
# ... with 152 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC4     LgA-Female 2        34.9     74.8          143
 2 2018-09-20 NC4     LgA-Female 3        60.4     70.0           98
 3 2018-09-20 NC4     LgA-Female 4        60.6     78.9          104
 4 2018-09-21 NC4     LgA-Female 2        77.5     88.0          132
 5 2018-09-21 NC4     LgA-Female 3        75.6     87.0          127
 6 2018-09-21 NC4     LgA-Female 4        70.7     95.1          166
 7 2018-09-24 NC4     LgA-Female 2        58.4     82.6          167
 8 2018-09-24 NC4     LgA-Female 3        62.1     70.9          115
 9 2018-09-24 NC4     LgA-Female 4        50       56.1          199
10 2018-09-25 NC4     LgA-Female 2        41.9     68.6          202
# ... with 152 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass    mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>     <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC6     LgA-Female 2          14.3    40.8           170
 2 2018-09-20 NC6     LgA-Female 3          17.2    47.8           173
 3 2018-09-20 NC6     LgA-Female 4     7271214.      1.71          259
 4 2018-09-21 NC6     LgA-Female 2          18.5    39.4           137
 5 2018-09-21 NC6     LgA-Female 3          19.1    45.4           136
 6 2018-09-21 NC6     LgA-Female 4          27.4    56.7           111
 7 2018-09-24 NC6     LgA-Female 2          25      28.3           194
 8 2018-09-24 NC6     LgA-Female 3          25.8    33.3           141
 9 2018-09-24 NC6     LgA-Female 4          26.1    52.2           149
10 2018-09-25 NC6     LgA-Female 2          31.0    36.0           126
# ... with 152 more rows
# A tibble: 155 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC8     LgA-Female 2        36.1     68.3          156
 2 2018-09-20 NC8     LgA-Female 3        64.2     81.8          110
 3 2018-09-20 NC8     LgA-Female 4        36.4     82.3           84
 4 2018-09-21 NC8     LgA-Female 2        59.3     76.5          108
 5 2018-09-21 NC8     LgA-Female 3        69.0     85.1          115
 6 2018-09-21 NC8     LgA-Female 4        76.0     96.1           87
 7 2018-09-25 NC8     LgA-Female 2        42.1     79.0          155
 8 2018-09-25 NC8     LgA-Female 3        47.7     72.2          127
 9 2018-09-25 NC8     LgA-Female 4        36.2     72.0          134
10 2018-09-26 NC8     LgA-Female 2        62.8     87.5          171
# ... with 145 more rows

In [66]:
%%R
# printing out normalized data
ICSS_normNC1 <- ICSS_normNC1 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normNC3 <- ICSS_normNC3 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normNC7 <- ICSS_normNC7 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normNC4 <- ICSS_normNC4 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normNC6 <- ICSS_normNC6 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print() 
ICSS_normNC8 <- ICSS_normNC8 %>% group_by(Date, Subject, Experiment, Pass) %>% summarise_all(mean) %>% ungroup() %>% print()

# A tibble: 161 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC1     LgA-Male   2        52.4     102.         88.9
 2 2018-09-20 NC1     LgA-Male   3        87.7     116.         76.7
 3 2018-09-20 NC1     LgA-Male   4        99.6     119.         79.9
 4 2018-09-21 NC1     LgA-Male   2       106.      117.         69.3
 5 2018-09-21 NC1     LgA-Male   3       131.      123.         75.8
 6 2018-09-21 NC1     LgA-Male   4       133.      131.         78.3
 7 2018-09-24 NC1     LgA-Male   2       108.      116.         99.5
 8 2018-09-24 NC1     LgA-Male   3       113.      117.         75.0
 9 2018-09-24 NC1     LgA-Male   4       110.      115.         75.0
10 2018-09-25 NC1     LgA-Male   2        85.1     110.         90.5
# ... with 151 more rows
# A tibble: 161 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC3     LgA-Male   2        86.8     77.4        116.
 2 2018-09-20 NC3     LgA-Male   4        72.4     98.1         70.7
 3 2018-09-21 NC3     LgA-Male   2        83.3    101.          59.9
 4 2018-09-21 NC3     LgA-Male   3       109.     102.          49.1
 5 2018-09-21 NC3     LgA-Male   4       103.     111.          57.0
 6 2018-09-24 NC3     LgA-Male   2       113.     104.          89.4
 7 2018-09-24 NC3     LgA-Male   3        58.7    106.          63.9
 8 2018-09-24 NC3     LgA-Male   4        97.7    115.          64.8
 9 2018-09-25 NC3     LgA-Male   2       113.     100.          78.6
10 2018-09-25 NC3     LgA-Male   3       111.     111.          69.8
# ... with 151 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC7     LgA-Male   2        118.     108.         71.8
 2 2018-09-20 NC7     LgA-Male   3        121.     121.         59.7
 3 2018-09-20 NC7     LgA-Male   4        121.     111.         53.4
 4 2018-09-21 NC7     LgA-Male   2        119.     116.         75.7
 5 2018-09-21 NC7     LgA-Male   3        148.     134.         54.3
 6 2018-09-21 NC7     LgA-Male   4        151.     135.         51.9
 7 2018-09-24 NC7     LgA-Male   2        119.     106.         74.2
 8 2018-09-24 NC7     LgA-Male   3        125.     126.         62.1
 9 2018-09-24 NC7     LgA-Male   4        130.     129.         63.1
10 2018-09-25 NC7     LgA-Male   2        119.     114.         78.6
# ... with 152 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC4     LgA-Female 2        66.1    104.          63.7
 2 2018-09-20 NC4     LgA-Female 3       115.      97.6         43.7
 3 2018-09-20 NC4     LgA-Female 4       115.     110.          46.3
 4 2018-09-21 NC4     LgA-Female 2       147.     123.          58.8
 5 2018-09-21 NC4     LgA-Female 3       143.     121.          56.6
 6 2018-09-21 NC4     LgA-Female 4       134.     133.          74.0
 7 2018-09-24 NC4     LgA-Female 2       111.     115.          74.4
 8 2018-09-24 NC4     LgA-Female 3       118.      98.8         51.3
 9 2018-09-24 NC4     LgA-Female 4        94.8     78.3         88.7
10 2018-09-25 NC4     LgA-Female 2        79.5     95.7         90.0
# ... with 152 more rows
# A tibble: 162 x 7
   Date       Subject Experiment Pass     norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>      <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC6     LgA-Female 2           34.6    74.7         126.
 2 2018-09-20 NC6     LgA-Female 3           41.5    87.5         128.
 3 2018-09-20 NC6     LgA-Female 4     17544954.      3.13        191.
 4 2018-09-21 NC6     LgA-Female 2           44.7    72.1         101.
 5 2018-09-21 NC6     LgA-Female 3           46.0    83.1         101.
 6 2018-09-21 NC6     LgA-Female 4           66.0   104.           82.1
 7 2018-09-24 NC6     LgA-Female 2           60.3    51.8         143.
 8 2018-09-24 NC6     LgA-Female 3           62.3    61.0         104.
 9 2018-09-24 NC6     LgA-Female 4           63.0    95.5         110.
10 2018-09-25 NC6     LgA-Female 2           74.9    65.9          93.1
# ... with 152 more rows
# A tibble: 155 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC8     LgA-Female 2        65.6     99.8        124.
 2 2018-09-20 NC8     LgA-Female 3       117.     119.          87.6
 3 2018-09-20 NC8     LgA-Female 4        66.2    120.          66.9
 4 2018-09-21 NC8     LgA-Female 2       108.     112.          86.0
 5 2018-09-21 NC8     LgA-Female 3       126.     124.          91.6
 6 2018-09-21 NC8     LgA-Female 4       138.     140.          69.3
 7 2018-09-25 NC8     LgA-Female 2        76.5    115.         123.
 8 2018-09-25 NC8     LgA-Female 3        86.8    105.         101.
 9 2018-09-25 NC8     LgA-Female 4        65.8    105.         107.
10 2018-09-26 NC8     LgA-Female 2       114.     128.         136.
# ... with 145 more rows

In [67]:
%%R
# combine all the Subject data into one single data frame and plot
ICSS_meansData <- bind_rows(ICSS_meansNC1, ICSS_meansNC3, ICSS_meansNC7, ICSS_meansNC4, ICSS_meansNC6, ICSS_meansNC8) %>% print

# A tibble: 963 x 7
   Date       Subject Experiment Pass  mean.T0 mean.M50 mean.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC1     LgA-Male   2        31.0     73.0          109
 2 2018-09-20 NC1     LgA-Male   3        51.9     83.0           94
 3 2018-09-20 NC1     LgA-Male   4        59.0     85.4           98
 4 2018-09-21 NC1     LgA-Male   2        62.9     84.1           85
 5 2018-09-21 NC1     LgA-Male   3        77.5     88.0           93
 6 2018-09-21 NC1     LgA-Male   4        79       94.3           96
 7 2018-09-24 NC1     LgA-Male   2        64.1     83.5          122
 8 2018-09-24 NC1     LgA-Male   3        66.8     84.0           92
 9 2018-09-24 NC1     LgA-Male   4        64.9     82.6           92
10 2018-09-25 NC1     LgA-Male   2        50.4     78.7          111
# ... with 953 more rows

In [68]:
%%R
# combine all the Subject data into one single data frame and plot
ICSS_normData <- bind_rows(ICSS_normNC1, ICSS_normNC3, ICSS_normNC7, ICSS_normNC4, ICSS_normNC6, ICSS_normNC8) %>% arrange(Date) %>% print

# A tibble: 963 x 7
   Date       Subject Experiment Pass  norm.T0 norm.M50 norm.MaxRate
   <date>     <fct>   <fct>      <fct>   <dbl>    <dbl>        <dbl>
 1 2018-09-20 NC1     LgA-Male   2        52.4    102.          88.9
 2 2018-09-20 NC1     LgA-Male   3        87.7    116.          76.7
 3 2018-09-20 NC1     LgA-Male   4        99.6    119.          79.9
 4 2018-09-20 NC3     LgA-Male   2        86.8     77.4        116.
 5 2018-09-20 NC3     LgA-Male   4        72.4     98.1         70.7
 6 2018-09-20 NC7     LgA-Male   2       118.     108.          71.8
 7 2018-09-20 NC7     LgA-Male   3       121.     121.          59.7
 8 2018-09-20 NC7     LgA-Male   4       121.     111.          53.4
 9 2018-09-20 NC4     LgA-Female 2        66.1    104.          63.7
10 2018-09-20 NC4     LgA-Female 3       115.      97.6         43.7
# ... with 953 more rows

---

## 3. Saving data

In [69]:
%%R
# 3.1. Long form for R
# 3.1.1. Collated raw data for for all passes
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_data, file.path(ICSS_dataDir, "_icssData_am_cohort02_raw_longform.csv"))

In [70]:
%%R
# 3.1. Long form for R
# 3.1.2. Collated means for for Pass 2-4
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_meansData, file.path(ICSS_dataDir, "_icssData_am_cohort02_means_longform.csv"))

In [71]:
%%R
# 3.1. Long form for R
# 3.1.3. Normalized means for Pass 2-4
#    - Theta0
#    - M50
#    - MaxRate
write_csv(ICSS_normData, file.path(ICSS_dataDir, "_icssData_am_cohort02_normalized_longform.csv"))

---

Author: Suman K. Guha <br/>
Date: April 16, 2019